services:
  mongodb:
    image: mongo
    container_name: mongo
    ports:
     - "27017:27017"
    volumes:
     - mongodb_data:/data/db
    
  mongobackend:
   build: 
    context: .
   container_name: mongobackend
   ports:
    - '3001:3001'
   depends_on:
    - mongodb

volumes:
   mongodb_data:
   

